body {
    margin: 0;
    font-family: "poppins",sans-serif;
    background: url(/img/1376072.jpg)center/cover no-repeat fixed;
    color: #fff;
    backdrop-filter: blur(5px);
}

.deshboard-container {
    padding: 30px;
    background: rgba(0,0,0,0.5);
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.2rem;
    color: #b4c6cc;
}

header p {
    font-size: 1.2rem;
    color: #ccc;
}

header button {
    background: #007bff;
    border: none;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

.btn {
    color: white;
}

.cards-resum {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-weight: 500;
    backdrop-filter: blur(6px);
}

.card i {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

.card.azul {background: rgba(0,123,255,0.3);}
.card.cinza {background: rgba(150,150,150,0.3);}
.card.azul-claro {background: rgba(0,200,250,0.3);}
.card.verde {background: rgba(0,255,150,0.3);}

.filtro {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.botoes-filtro button {
    margin-left: 10px;
    background: rgba(255,255,255,0.2);
    border: none;
    color: white;
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
}

.botoes-filtro .ativo {
    background: #007bff;
}

.lista-tarefas {
    margin-top: 30px;
    display: grid;
    gap: 20px;
}

.tarefa {
    background: rgba(0, 158, 250, 0.1);
    padding: 16px;
    border-radius: 10px;
}

.titulo { font-weight: 600; font-size: 16px; }
.descricao { font-size: 14px; color: #ccc; }
.status { margin-top: 10px; display: inline-block; padding: 4px 10px; border-radius: 6px; background: rgba(255,255,255,0.2); }
.status.azul { background: #007bff; }
.status.verde { background: #28a745; }